*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
/*  font-family: Arial;*/
}

section{
	height: 100vh;
	width: 100%;
}

section nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
	z-index:1000;
	box-shadow:black;
	background-color:#d6cadd;
	height: 90px;
}
.nav-wrappper2{
	position: absolute;
	top:30px;
	right:100px;
	cursor: pointer;
  color: #3b3939;
}
.nav-wrappper3{
	position: absolute;
	top:30px;
	right:70px;
	cursor: pointer;
  color: #3b3939;
}
.nav-wrappper4{
	position: absolute;
	top: 26px;
	right:30px;
	cursor: pointer;
  color: #3b3939;
}

section nav .logo img{
	margin-top:-50px;
	padding:0PX;
	position: absolute;
	left:-10px;
	cursor: pointer;
}

  section nav ul{
  	list-style: none;
  	width: 60%;
  	margin:50px;
  }

  section nav ul li{
  	display: inline-block;
  	margin:0 10px;
  }

section nav ul li a{
	text-decoration: none;
	color: #000;
	font-weight: 500;
	font-size: 17px;
	text-transform: uppercase;
	transition: 0.1s;
}
 section nav ul li a::after{
 	content: '';
 	width:0;
 	box-shadow: #fac031;
 	display: block;
 	transition: 0.2s linear;
}
section nav ul li a::hover::after{
	width: 100%;
}
.ice-cream-product{
	width: 100%;
  height: 100vh;
  position:absolute;																																																																													
  background-size: cover;
  background-repeat:no-repeat;
  top: 90px;
}
.ice-cream-text h3{
	font-size: 50px;
	float: left;
	left:70px;
  bottom:400px;
  position: absolute;
}
.ice-cream-text h6{
  font-size:20px;
	float: left;
	left:70px;
  bottom:255px;
  position: absolute;
  font-family:Bahnschrift Light;
}

.ice-cream-text1{
  position: absolute;
  border: 1px double; 
  border-radius:15px;
  height: 40px;
  width: 135px;
  bottom: 170px;
  float: left;
  left:70px;
  text-align:center;
  padding:10px;
  cursor: pointer;
}
.ice-cream-text1:hover{
  background-color:#d6cadd;
  color: black;
}

.ice-cream-text1 a{
  text-decoration: none;
 }
.ice-cream-product1-img{
  position:absolute;																																																																													
  background-size: cover;
  background-repeat:no-repeat;
  bottom:-360px;
  float:right;
  right:80px;
}

.ice-cream-product2{
  font-size: 30px;
	float: left;
	left:70px;
  bottom:-120px;
  position: absolute;
  font-family:Bahnschrift Light;
}
.ice-cream-product2 h5{
	font-size:20px;
	float: left;
	left:0px;
  bottom:-40px;
  position: absolute;
  color:  #0f2f4e;
  font-weight: bold;
}
.v1{
	font-size:18px;
	float: left;
	left:80px;
  bottom:-383px;
  position: absolute;
  color:  #0f2f4e;
}




.g2{
	position:absolute;																																																																													
  background-size: cover;
  background-repeat:no-repeat;
  bottom:-1050px;
  float:left;
  opacity: 0.8;
}
.ah{
	position: absolute;
	bottom: -1020px;
	opacity: 0.9;
	left: 490px;
}

.back-ground9{
	height:90px;
	width:90px;
	position: absolute;
	bottom:-650px;
	float: left;
	left: 700px;
	background-color: white;
	border: 0px solid;
  border-radius:150px;
  box-shadow: 5px 10px 8px #17202A;

}
.back-ground9 img{
	position:absolute;																																																																													
  bottom:30px;
  float:left;
  left:20px;
}

.g6 h5{
	font-size:48px;
  float: left;
  left:575px;
  bottom:-720px;
  position: absolute; 
  font-family: calibri;
  color: white;
  font-weight:bold ;
}
.g6 h6{
	font-size:48px;
  float: left;
  left:570px;
  bottom:-768px;
  position: absolute; 
  font-family: calibri;
  color:  white;
  font-weight:bold ;
}
.g7{
	font-size:17px;
  float: left;
  left:538px;
  bottom:-820px;
  position: absolute; 
  font-family: calibri;
  color: white;
  font-weight:bold ;
}
.g3{
	font-size:19px;
  float: left;
  left:100px;
  bottom:-890px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.g4{
	font-size:40px;
  float: left;
  left:100px;
  bottom:-940px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
  font-weight:bold ;
}
.g5{
	font-size:19px;
  float: left;
  left:100px;
  bottom:-995px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.i7{
  position: absolute;
  border: 1px solid ;
  border-radius:30px;
  height: 35px;
  width: 120px;
  bottom:-900px;
  float: left;
  left:680px;
  text-align:center;
  padding:8px;
  background-color:white;
  color:#ba55d3;
  cursor: pointer;
}




.a1{
	font-size: 55px;
	float: left;
	left:550px;
  bottom:-1170px;
  position: absolute;
  color:#ba55d3 ;
}
.back-ground{
	height: 373px;
	width: 361px;
	background-color:#d6cadd;
	position: absolute;
	bottom:-1600px;
	float: left;
	left: 103px;
	opacity: 0.5;
	border: 0px solid;
  border-radius:50px;
  box-shadow: 5px 10px 8px #17202A;
}
.back-ground2{
	height: 373px;
	width: 361px;
	background-color:#d6cadd;
	position: absolute;
	bottom:-1600px;
	float: left;
	left: 578px;
	opacity: 0.5;
	border: 0px solid;
  border-radius:50px;
  box-shadow: 5px 10px 8px #17202A;
}
.back-ground3{
	height: 373px;
	width: 361px;
	background-color:#d6cadd;
	position: absolute;
	bottom:-1600px;
	float: left;
	left: 1049px;
	opacity: 0.5;
	border: 0px solid;
  border-radius:50px;
  box-shadow: 5px 10px 8px #17202A;
}


.review-img img{
	position:absolute;																																																																													
  background-size: cover;
  background-repeat:no-repeat;
  bottom:-1324px;
  float:right;
  right:1150px;
  border: 0px solid;
  border-radius:1268px ;
  transition: 0.10s;
}
.review-img img:hover{
	transform: translatey(-40px);
}
.review-img2 img{
	position:absolute;																																																																													
  background-size: cover;
  background-repeat:no-repeat;
  bottom:-1324px;
  float:right;
  right:680px;
  border: 0px solid;
  border-radius:1268px ;
  transition: 0.10s;
}
.review-img2 img:hover{
	transform:translateY(-40px) ;
}
.review-img3 img{
	position:absolute;																																																																													
  background-size: cover;
  background-repeat:no-repeat;
  bottom:-1324px;
  float:right;
  right:199px;
  border: 0px solid;
  border-radius:1268px ;
  transition: 0.10s;
}
.review-img3  img:hover{
	transform:translateY(-40px)
}

.z1{
	font-size: 28px;
	float: left;
	left:125px;
  bottom:-1370px;
 font-family: calibri;
  color:  #0f2f4e;
  font-weight: bold;
  position: absolute;
}
.z2{
	font-size: 28px;
	float: left;
	left:235px;
  bottom:-1400px;
 font-family: calibri;
  color:  #0f2f4e;
  font-weight: bold;
  position: absolute;
}
.z3{
	font-size: 18px;
	float: left;
	left:125px;
  bottom:-1540px;
  font-family: calibri;
  color:  #0f2f4e;
  position: absolute;
}
.ice7{
  position: absolute;
  border: 1px solid ;
  border-radius:30px;
  height: 40px;
  width: 120px;
  bottom:-1595px;
  float: left;
  left:205px;
  text-align:center;
  padding:8px;
  background-color:white;
  color:#ba55d3;
  cursor: pointer;
}
.ice7 a{
  text-decoration: none;
  color:#ba55d3 ;
}
.ice7:hover{
  background-color:#d6cadd;
  color: black;
}



.z4{
	font-size: 28px;
	float: left;
	left:600px;
  bottom:-1370px;
 font-family: calibri;
  color:  #0f2f4e;
  font-weight: bold;
  position: absolute;
}
.z5{
	font-size: 28px;
	float: left;
	left:725px;
  bottom:-1400px;
 font-family: calibri;
  color:  #0f2f4e;
  font-weight: bold;
  position: absolute;
}
.z6{
	font-size: 18px;
	float: left;
	left:600px;
  bottom:-1540px;
  font-family: calibri;
  color:  #0f2f4e;
  position: absolute;
}
.ice8{
  position: absolute;
  border: 1px solid ;
  border-radius:30px;
  height: 40px;
  width: 120px;
  bottom:-1595px;
  float: left;
  left:700px;
  text-align:center;
  padding:8px;
  background-color:white;
  color:#ba55d3;
  cursor: pointer;
}

.ice8:hover{
  background-color:#d6cadd;
  color: black;
}
.ice8 a{
  text-decoration: none;
  color:#ba55d3 ;
}

.z7{
	font-size: 28px;
	float: left;
	left:1095px;
  bottom:-1370px;
 font-family: calibri;
  color:  #0f2f4e;
  font-weight: bold;
  position: absolute;
}
.z8{
	font-size: 28px;
	float: left;
	left:1200px;
  bottom:-1400px;
 font-family: calibri;
  color:  #0f2f4e;
  font-weight: bold;
  position: absolute;
}
.z9{
	font-size: 18px;
	float: left;
	left:1070px;
  bottom:-1540px;
  font-family: calibri;
  color:  #0f2f4e;
  position: absolute;
}
.ice9{
  position: absolute;
  border: 1px solid ;
  border-radius:30px;
  height: 40px;
  width: 120px;
  bottom:-1595px;
  float: left;
  left:1180px;
  text-align:center;
  padding:8px;
  background-color:white;
  color:#ba55d3;
  cursor: pointer;
}
.ice9 a{
  text-decoration: none;
  color:#ba55d3;
}
.ice9:hover{
  background-color:#d6cadd;
  color: black;
}


.quote{
  background-color:#d6cadd;
  width:100%;
  height:650px;
  bottom:-2350px;
  position: absolute;
  opacity: 0.3;
}
.quote2{
  position:absolute;																																																																													
  background-size: cover;
  background-repeat:no-repeat;
 bottom: -2320px;
 right: 80px;
}
.write16{
	font-size:19px;
  float: left;
  left:130px;
  bottom:-1840px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.write17{
	font-size:45px;
  float: left;
  left:130px;
  bottom:-1895px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
  font-weight: bold;
}
.write18{
	font-size:19px;
  float: left;
  left:130px;
  bottom:-1950px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}



.write19{
	font-size:40px;
  float: left;
  left:165px;
  bottom:-2040px;
  position: absolute; 
  font-family:calibri;
  font-weight: bold;
  color: #0f2f4e;
}
.write20{
	font-size:18px;
  float: left;
  left:165px;
  bottom:-2085px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}

.write21{
	font-size:40px;
  float: left;
  left:165px;
  bottom:-2140px;
  position: absolute; 
  font-family:calibri;
  font-weight: bold;
  color: #0f2f4e;
}
.write22{
	font-size:19px;
  float: left;
  left:165px;
  bottom:-2185px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}


.write23{
	font-size:40px;
  float: left;
  left:165px;
  bottom:-2245px;
  position: absolute; 
  font-family:calibri;
  font-weight: bold;
  color: #0f2f4e;
}
.write24{
	font-size:19px;
  float: left;
  left:165px;
  bottom:-2290px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.xa{
  position:absolute;																																																																													
  background-size: cover;
  background-repeat:no-repeat;
 bottom: -3020px;
 opacity: 0.15;
}
.xa2{
	font-size:19px;
  float: left;
  left:695px;
  bottom:-2490px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.xa3{
	font-size:35px;
  float: left;
  left:580px;
  bottom:-2540px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
  font-weight: bold;
}
.xa4{
	font-size:19px;
  float: left;
  left:450px;
  bottom:-2580px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.xa5{
	font-size:19px;
  float: left;
  left:580px;
  bottom:-2610px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}


.xa6{
	height: 303px;
	width: 381px;
	background-color:#d6cadd;
	position: absolute;
	bottom:-2960px;
	float: left;
	left: 103px;
	opacity: 0.5;
	border: 0px solid;
  border-radius:50px;
  box-shadow: 5px 10px 8px #17202A;
}
.xa7{
	height: 303px;
	width: 381px;
	background-color:#d6cadd;
	position: absolute;
	bottom:-2960px;
	float: left;
	left: 578px;
	opacity: 0.5;
	border: 0px solid;
  border-radius:50px;
  box-shadow: 5px 10px 8px #17202A;
}
.xa8{
	height: 303px;
	width: 381px;
	background-color:#d6cadd;
	position: absolute;
	bottom:-2960px;
	float: left;
	left: 1049px;
	opacity: 0.5;
	border: 0px solid;
  border-radius:50px;
  box-shadow: 5px 10px 8px #17202A;
}
.xa9{
	font-size:25px;
  float: left;
  left:125px;
  bottom:-2720px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.xa10{
	font-size:25px;
  float: left;
  left:120px;
  bottom:-2750px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.xa11{
	font-size:25px;
  float: left;
  left:140px;
  bottom:-2780px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.xa12{
	font-size:25px;
  float: left;
  left:260px;
  bottom:-2810px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.bv{
	font-size:38px;
  float: left;
  left:210px;
  bottom:-2900px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
  font-weight: bold;
}
.xa13{
	font-size:25px;
  float: left;
  left:615px;
  bottom:-2720px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.xa20{
	font-size:25px;
  float: left;
  left:605px;
  bottom:-2750px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.xa14{
	font-size:25px;
  float: left;
  left:630px;
  bottom:-2780px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.xa15{
	font-size:25px;
  float: left;
  left:770px;
  bottom:-2810px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.bv2{
	font-size:38px;
  float: left;
  left:710px;
  bottom:-2900px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
  font-weight: bold;
}
.xa16{
	font-size:25px;
  float: left;
  left:1090px;
  bottom:-2720px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.xa17{
	font-size:25px;
  float: left;
  left:1090px;
  bottom:-2750px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.xa18{
	font-size:25px;
  float: left;
  left:1080px;
  bottom:-2780px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.xa19{
	font-size:25px;
  float: left;
  left:1210px;
  bottom:-2810px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.bv3{
	font-size:38px;
  float: left;
  left:1160px;
  bottom:-2900px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
  font-weight: bold;
}










.futter{
	height: 450px;
	width: 100%;
	background-color: #d6cadd;
	position: absolute;
  opacity:;
  bottom: -3468px;
}
.futter1{
	position: absolute;
	bottom: -3473px;
	left: 150px;
  cursor: pointer;
}
.hg{
	position: absolute;
	left: 318px;
	bottom: -3312px;
}
.hg1 h5{
	font-size:28px;
  float: left;
  left:180px;
  bottom:-3350px;
  position: absolute; 
  font-family: calibri;
  color:white;
  font-weight: bold;
}
.hg1 h6{
	font-size:25px;
  float: left;
  left:290px;
  bottom:-3385px;
  position: absolute; 
  font-family: calibri;
  color: white;
  font-weight: bold;
}
.hg2{
	position: absolute;
	left: 290px;
	bottom: -3440px;
  cursor: pointer;
}
.hg3{
	position: absolute;
	left: 345px;
	bottom: -3440px;
  cursor: pointer;
}
.hg4{
	position: absolute;
	left: 380px;
	bottom: -3443px;
  cursor: pointer;
}
.hg5{
	position: absolute;
	left: 415px;
	bottom: -3448px;
  cursor: pointer;
}
.vc{
	bottom: -3185px;
	position: absolute;
	left: 685px;
}

.futter2 h5{
	font-size:35px;
  float: left;
  left:690px;
  bottom:-3180px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
  font-weight: bold;
}
.futter3 {
	font-size:23px;
  float: left;
  left:720px;
  bottom:-3220px;
  position: absolute; 
  font-family: calibri;
}
.futter3 a{
  text-decoration: none;
  color:#0f2f4e;
}
.futter4 {
	font-size:23px;
  float: left;
  left:720px;
  bottom:-3250px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.futter4 a{
  text-decoration: none;
  color:#0f2f4e;
}

.futter5 {
	font-size:23px;
  float: left;
  left:720px;
  bottom:-3280px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.futter5 a{
  text-decoration: none;
  color:#0f2f4e;
}

.futter6 {
	font-size:23px;
  float: left;
  left:720px;
  bottom:-3310px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.futter6 a{
  text-decoration: none;
  color:#0f2f4e;
}

.futter7 {
	font-size:23px;
  float: left;
  left:720px;
  bottom:-3340px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.futter7 a{
  text-decoration: none;
  color:#0f2f4e;
}
.futter8{
	font-size:35px;
  float: left;
  left:910px;
  bottom:-3180px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
  font-weight: bold;
}
.vc2{
	bottom: -5px;
	position: absolute;
	left: 0px;
}
.futter9 {
	font-size:23px;
  float: left;
  left:920px;
  bottom:-3220px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.futter10 {
	font-size:23px;
  float: left;
  left:920px;
  bottom:-3250px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}

.futter11 {
	font-size:23px;
  float: left;
  left:920px;
  bottom:-3280px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}

.futter12{
	font-size:35px;
  float: left;
  left:1210px;
  bottom:-3180px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
  font-weight: bold;
}
.vc3{
	bottom: -5px;
	position: absolute;
	right: -35px;
}
.add {
	font-size:23px;
  float: left;
  left:1200px;
  bottom:-3245px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}
.add2 {
	font-size:23px;
  float: left;
  left:1200px;
  bottom:-3280px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}

.add3 {
	font-size:23px;
  float: left;
  left:1200px;
  bottom:-3320px;
  position: absolute; 
  font-family: calibri;
  color:  #0f2f4e;
}






























